@font-face {
  font-family: 'NanumSquareRound';
  src: url(../fonts/NanumSquareRoundR.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url(../fonts/NanumSquareRoundEB.woff) format('woff');
  font-weight: 700;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: NanumSquareRound;
  color: var(--Color-Text-Default, #222);
}

input {
  width: 100%;
  border: none;
  outline: none;
}

li {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

#viewWrap {
  display:flex; 
  justify-content:center; 
  align-items: center;
  width:100%; 
  height:100%;
  background:#fff;
  overflow: hidden;
}

section {
  position: relative;
  display: flex;
  width: 1920px; 
  height: 1020px; 
  min-height: 1020px; 
  padding: 20px 0 20px 20px;
  background: #fcfae0;
}

.left-box {
  width: 1600px;
  height: 100%; 
  border-radius: 18px;
  background-color: #fff;
}

.left-box-1 {
  display: flex;
  justify-content: center;
}

.view_mode {
  position:absolute; 
  top: 47px;
  left: 27px;
  width: 76px;
  height: 76px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.table-wrap div {
  position: absolute;
  top: 53px;
  left: 118px;

  width: 118px;
  height: 46px;
  border-radius: 23px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05) inset;

  span {
    width: 100%;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px; 
  }

  svg {
    position: absolute;
    top: -3px;
    width: 52px;
    height: 52px;
  }
}

.table-wrap .talbe-1 {
  background: #D3E4A4;
  
  span {
    padding-left: 17px;
  }

  svg {
    right: 0;
  }
}

.table-wrap .table-2 {
  background: #809A3A;

  span {
    padding-left: 58px;
    color: #fff;
  }
}

.table-btn-wrap {
  position: absolute;
  top: 50px;
  left: 251px;
  display: flex;
  width: 153px;
  height: 52px;
  border-radius: 10px;
  background: #F2F5E7;
  overflow: hidden;
}

.table-btn-txt {
  width: 49px;
  height: 100%;
  padding: 6px 10px;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  background: #D3E4A4;
}

.btn-wrap {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 8px;

  div {
    width: 40px;
    height: 44px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.table-title {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.table-title .title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 65px;
  margin: 0 10px;
  padding: 24px 40px;
  border-radius: 10px;
  border: 3px solid #A1C8EB;
  background: #FFF;

  img {
    position: absolute;
    width: 50px;
    height: 50px;
  }

  input {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: -0.72px;
  }
}

.left-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.left-box-2 .row {
  display: flex;
}

.left-box-2 .row li {
  margin: 0 1.5px;
}

.left-box-2 .row-header li {
  border-radius: 20px 20px 0px 0px;
  background: #E5F0C7;
}

.left-box-2 .row li:first-child {
  width: 190px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.left-box-2 .row li:not(:first-child) {
  width: 150px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
}

.left-box-2 .row:not(:first-child) li:first-child {
  border-top: 2px solid #E5F0C7;
  border-bottom: 4px solid #E5F0C7;
  border-left: 4px solid #E5F0C7;
  background: #F2F5E7;
}

.left-box-2 .row:not(:first-child) li:not(:first-child) {
  position: relative;
  padding: 8px 10px;
  border-top: 2px solid #E5F0C7;
  border-bottom: 4px solid #E5F0C7;
  background: #FFF;
}

.left-box-2 .row:not(:first-child) li:last-child {
  border-right: 4px solid #E5F0C7;
}

.left-box-2 .row:not(:first-child) li:not(:first-child)::before {
  position: absolute;
  content: '';
  top: 0;
  left: -3px;
  width: 3px;
  height: 60px;
  background-color: #A5A7A7;
}

.left-box-2 .row:last-child li:not(:first-child)::after {
  content: '';
  position: absolute;
  top: 58px;
  left: 0;
  width: 150px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/btn-donetable.png);
}

.line {
  width: 100%;
  height: 4px;
  margin-top: 58px;
  background-color: var(--Color-Neutral-variant-XLight, #E6E9F0);
}

.left-box-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;

}

.graph-title {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
}

.graph-area {
  margin-top: 20px;
}

.check-break {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 136px;
  height: 38px;
}

.check-break input[type="checkbox"] {
  display: none;
}

.checkbox-img {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  background-image: url(../img/checkbox-off.png);
}

.checkbox-img.checked {
  background-image: url(../img/checkbox-on.png);
}

.check-break span {
  color: var(--Color-Primary-Dark, #8F3100);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; 
}

.btn-graph-list {
  margin-top: 20px;
}

.right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100%;
  text-align: center;
}

.right-box ul li:last-child {
  margin-top: 20px;
}

.right-line {
  width: 260px;
  height: 3px;
  margin: 26px 0;
  background: rgba(143, 49, 0, 0.10);
}

.btn-graph {
  width: 240px;
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-graph:first-child {
  background-image: url(../img/Status=Unselected.png);
}

.btn-graph:first-child.active {
  background-image: url(../img/Status=selected.png);
}

.btn-graph:last-child {
  background-image: url(../img/Status=Unselected-all.png);
}

.btn-graph:first-child.active {
  background-image: url(../img/Status=selected.png);
}

.input-list li {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px; 
  color: var(--Color-Primary-Dark, #8F3100);
  
  input {
    width: 200px;
    height: 62px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 62px; 
    border-radius: 16px;
    border: 4px solid var(--Color-Primary-Dark, #8F3100);
    background: var(--Color-Background-Default, #FFF);
  }
}

.reset-copy-btn {
  display: flex;
}

.reset-copy-btn li {
  width: 70px;
  height: 76px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.reset-copy-btn li:last-child {
  margin-top: 0 !important;
  margin-left: 30px;
}
